{% extends "base.html" %}

{% block css %}{% endblock %}

{% block main %}

<div class="container">
    <h2>Timetable</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Time</th>
                {% for day in days_of_week %}
                    <th>{{ day }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for time_slot in time_slots %}
                <tr>
                    <td>{{ time_slot }}</td>
                    {% for day in days_of_week %}
                        <td>{{ timetable[day][time_slot] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- <div><a href="{{ url_for('download_pdf') }}" class="btn btn-primary">Download as PDF</a></div> -->


<a href="{{ url_for('download_pdf') }}" class="btn btn-primary">Download PDF</a>




{% endblock %}

{% block js %}{% endblock %}