<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename="css/app.css") }}">
        <title>Course Registration Form</title>
    </head>

    <body>

        <div class="form_container"> 

            <h2>Course Registration Form</h2>

            {% include 'flash_messages.html' %}

            <form action="/" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}

                <div class="mb-3">
                    <label class="form-label fw-bold">{{ form.courses_file.label }}</label>
                    {{ form.courses_file (class="form-control")}}
                </div>

                <h2>Add Additional Course to CSV</h2>
                
                <div class="row">
                    <div class="col">
                        <label class="form-label fw-bold">{{ form.course_title.label }}</label>
                        {{ form.course_title (class="form-control")}}
                    </div>
                    
                    <div class="col">
                        <label class="form-label fw-bold">{{ form.course_code.label }}</label>
                        {{ form.course_code (class="form-control")}}
                    </div>

                    <div class="col">
                        <label class="form-label fw-bold">{{ form.lecturer.label }}</label>
                        {{ form.lecturer (class="form-control")}}
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <label class="form-label fw-bold">{{ form.first_name.label }}</label>
                        {{ form.first_name (class="form-control")}}
                    </div>
                    
                    <div class="col">
                        <label class="form-label fw-bold">{{ form.last_name.label }}</label>
                        {{ form.last_name (class="form-control")}}
                    </div>

                </div>

                <div class="form-group">
                    <h2>Time Preferences</h2>
                    <br>
                    <div class="checkbox-group">
                        {% for choice in form.time_preferences %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="{{ choice.id }}" name="{{ choice.name }}" value="{{ choice.data }}">
                                <label class="form-check-label" for="{{ choice.id }}">{{ choice.label.text }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                
            </form>

        </div>
        

        <!-- Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    </body>

</html>
